@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Voyage;
    src: url(Fonts/Voyage-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: Voyage Bold;
    src: url(Fonts/Voyage-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: Staff;
    src: url(Fonts/Staff-Regular.ttf) format('truetype');
  }
};

::-webkit-scrollbar {
  width: 0;
}


.scroll { 
  display: block;
  width: 15px;
  position: fixed;
  right: 30px;
  z-index: 5;
  margin-top: 150px;
}

.scroll .barre {
  border: 1px #191919 solid;
  height: 500px;
  border-radius: 50px;
}


#scrollPath {
  height: 100%;
  display: block;
  border-radius: 50px;
  position: absolute;
}

#progressBar {
  height: 0;
  background-color: #a5334a;
  display: block;
  border-radius: 50px;
}

#progressBar::before {
  content: "";
  height: 100%;
  background-color: #a5334a;
}

#progressBar::after {
  content: "";
  height: 100%;
  background-color: #a5334a;
}