@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: macaroni;
    src: url('Fonts/Macaroni.ttf') format('truetype');
  }
  @font-face {
    font-family: inter Medium;
    src: url('Fonts/Inter-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: inter Regular;
    src: url('Fonts/Inter-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: inter Semibold;
    src: url('Fonts/Inter-SemiBold.ttf') format('truetype');
  }
};
